#This is a location file for tagdust reference fasta files.

#file has this format (longer white space characters are TAB characters):
#
#value	dbkey	name	path
#
#mouse	/mnt/galaxyIndices/fasta/mouse.fasta
value_pos	dbkey_pos	ercc_and_TPA_mouse_RNA	/home/christian/Dropbox/Gene_data/ercc_and_TPA_mouse_rRNA.fa

